{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

      <!-- BANNER SLIDER
      ================================================== -->
      <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item slide-one active">
            <div class="container">
              <div class="carousel-caption">
              </div>
            </div>
          </div>


          {{#foreach posts}}
            {{#if featured}}
                <div class="item slide-four" style="background:{{#if image}}url({{image}});{{else}}url{{asset "./content/images/church.jpg"}}{{/if}}; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
                  <div class="container">
                    <div class="carousel-caption" style="color:#03437a; top:15%">
                      <article class="{{post_class}} featured" style="background-color:rgba(230,239,239,0.95); padding:40px;border:10px solid #03437a;">
                         <header class="post-header">
                             <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                          </header>
                        </article>                                    
                     </div>
                    </div>
                  </div>  
              {{/if}}
            {{/foreach}}        
          </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
        <!-- // Banner Slider -->
        <!--UPCOMING EVENT-->
        <div class="highlight-bg">
          <div class="container event-cta">
            <div class="ec-txt tk-franklin-gothic-urw"> <span>THIS WEEK AT SAINT PHILIP NERI CHURCH</span>
              <p class='lulubold'>This Weeks Bulletin and Mass Schedule - February 26th, 2017</p>
        	</div>
          <!-- ***************** Update Below Weekly ********************* -->
           {{#get "posts" limit="1" filter="tags:readings"}}
             {{#foreach posts}}
                <a class="btn btn-lg btn-primary dload" href="http://www.saintphilipnerichurch.com/mass_schedule/" role="button" style="margin:7px;">Mass Schedule</a>
              {{/foreach}}
            {{/get}}            
            <a class="btn btn-lg btn-primary dload" href="http://www.saintphilipnerichurch.com/shared/bulletins/2017/02-26-2017.pdf" target="_blank" role="button" style="margin:7px;" id="bulletin">View Bulletin</a> 


          </div>
    
        </div>

<br><br>
  <!-- BLOG LIST / LATEST SERMONS -->
    <div class="container has-margin-bottom">
      <div class="row">
        <div class="col-md-8 has-margin-bottom">
          <div class="section-title left-align-desktop">
            <h4> ONGOING AT ST. PHILIPS </h4>
          </div>
          
          <!--Blog list-->
          
            
            <!--Blog list-->
            
    		{{> "loop"}}
        <br>
        
                                
        </div>
                <!--// col md 9-->
                
                <!--Latest Sermons-->
                <div class="col-md-4">
                  <div class="well">

                    <div class="section-title">
                      <h4>This Weeks Announced Masses</h4><br>
                      <p style="text-align:center">
                        {{#get "posts" limit="1" filter="tags:announced-masses"}}
                            {{#foreach posts}}
                                <p>{{content}}</p>
                            {{/foreach}}
                        {{/get}}
                        </p>
                    </div><br>

                    <div class="section-title">
                      <h4>ANNOUNCEMENTS</h4><br>
                      <p style="text-align:center">
                        {{#get "posts" limit="1" filter="tags:announcements"}}
                            {{#foreach posts}}
                                <p>{{content}}</p>
                            {{/foreach}}
                        {{/get}}
                        </p>
                    </div><br>



                  </div>
                </div>
              </div>
            </div>
            <!-- END BLOG LIST / LATEST SERMONS -->


          <!-- // UPCOMING EVENT -->
          <!--FEATURED BLOCK-->
          <div class="container">
            <div class="row feature-block">
              <div class="col-md-4 col-sm-6 has-margin-bottom"> <a href="/about/"> <img class="img-responsive" src="/content/images/thumb-1.jpg" alt="catholic church"></a>
              <h5>ABOUT ST. PHILIP NERI CHURCH</h5>
              <p>Learn more about the history of St. Philip Neri Church.   </p>
              <p><a href="/about/" role="button">View details →</a></p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 has-margin-bottom"> <a href="resources/RCIA-FLYER_Website.pdf"><img class="img-responsive" src="/content/images/thumb-2.png" alt="ministry sermon"></a>
            <h5>WANT TO EXPERIENCE THE JOY OF CATHOLICISM?</h5>
            <p>Click here to check out RCIA and learn more about becoming a member of the Catholic Church.  </p>
            <p><a href="/shared/resources/RCIA-FLYER_Website.pdf" role="button">View details →</a></p>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0 center-this has-margin-bottom"><a href="/Saint_Philip_Neri/"> <img class="img-responsive" src="/content/images/thumb-3.jpg" alt="bulletin programs"></a>
          <h5>THE LIFE OF ST. PHILIP NERI</h5>
          <p>Learn about who St. Philip Neri, from his early years to Ordination.  Click below for more information. </p>
          <p><a href="/Saint_Philip_Neri/" role="button">View details →</a></p>
        </div>
        <!-- /.col-md-4 -->
      </div>
    </div>
    <!-- // END FEATURED BLOCK-->




  
            <!-- BIBLE QUOTES -->
            <div class="highlight-bg has-margin-bottom">
              <div class="container event-list">
                <div class="section-title">
                  <h4> QUOTES </h4>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="owl-carousel2">
                      <div class="item">
                      <blockquote class="blockquote-centered"> Cheerfulness strengthens the heart and makes us persevere in a good life. Therefore the servant of God ought always to be in good spirits.<small>Saint Philip Neri</small> </blockquote>
                    </div>
                    <div class="item">
                      <blockquote class="blockquote-centered"> For if, by the trespass of the one man, death reigned through that one man, how much more will those who receive God's abundant provision of grace!
                      <small>Romans 5:17 (NIV)</small> </blockquote>
                    </div>
                    <div class="item">
                    <blockquote class="blockquote-centered">For God did not send his Son into the world to condemn the world, but to save the world through him. <small>John 3:17</small> </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // END BIBLE QUOTES -->
        <!-- OUR MINISTRIES -->
        <div class="container">
          <div class="section-title">
            <h4> ADDITIONAL INFORMATION </h4>
          </div>
          <div class="row feature-block">
            <div class="col-md-4 col-sm-6 has-margin-bottom"> <!--<img class="img-responsive" src="/content/images/ministry_1.jpg" alt="catholic church">-->
            <h5>MASS SCHEDULE</h5>
            <p><b>Sundays:</b><br>
            7:00 a.m., 8:30 a.m., 10:00 a.m. and 11:30 a.m.
            <br><br>
            <b>Daily:</b>
            <br>
            <u>Monday-Friday</u> 6:30 a.m. & 8:30 a.m.
            <br>
            <u>Saturday</u>- 8:30 a.m. 5:00 Vigil
            <br></p>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 col-sm-6 has-margin-bottom"><!-- <img class="img-responsive" src="/content/images/ministry_2.jpg" alt="ministry sermon">-->
          <h5>BAPTISMAL INSTRUCTIONS</h5>
          <p>
          Baptismal instructions are scheduled for Monday, <strong><u>September 19th at 7:30 PM</u></strong> in the Rectory Conference Room. Your baby is always welcome in Church, however, for the instruction itself, please try to shedule a babysitter so you may be free to concentrate. Please call the Church Office at 610-834-1975 for sign up purposes.
          </p>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0 center-this has-margin-bottom"> <!--<img class="img-responsive" src="/content/images/ministry_3.jpg" alt="bulletin programs">-->
        <h5>Frozen Casseroles for St. John’s Hospice </h5>
        <p>       
Could you find time to make a casserole for the homeless of St. John’s? Pans, lids and recipes are available in the Church Office and at Barbara McCarthy’s (610-828-2058). Frozen casseroles are brought to Barbara’s house by 9:00 AM. 
        </p>




      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>
  <!-- // END OUR MINISTRIES-->        
        
<div class="section no-pad-bot" id="tag-banner" class="{{post_class}}" >
  <div class="container" >

 <!--   <h1 class="header center orange-text page-title">{{@blog.title}}</h1>
    <h2 class="page-description">{{@blog.description}}</h2>
	-->
    {{! The tag below includes the post loop - partials/loop.hbs }}
	
	<br><br>
	
	{{! Previous/next page links - displayed on every page }}
			
  </div>
	
</div>	


	
{{! The tag below includes the three hero blocks - partials/three-blocks.hbs }}
{{> "three-blocks"}}

